:root {
  background-color: rgb(191, 192, 200);
}

.btn {
  background-color: rgb(121, 119, 119);
  border: 0;
  border-radius: 10px;
  font-size: 1.1em;
  padding: 6px 5px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

button:hover {
  background-color: rgb(62, 63, 59);
  color: rgb(84, 86, 83);
}

.title {
  color: grey;
  text-align: center;
}
