#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#detailed-link {
  margin-top: 50px;
  
}

.sale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sales {
  display: flex;
  border: 1px, solid;
  width: 80%;
  align-items: center;
  margin-top: 20px;
}

.sales div {
  border: 1 solid black;
  width: 50%;
  text-align: center;
}



.sales:hover {
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
}

.products-table {
  width: 50%;
  text-align: center;
  cursor: context-menu;
}

#product-row:hover{
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
}

#navbar {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  width: 100%;
  font-size: medium;
  font-weight: 600;
}

.navlink {
  padding: 10px;
  color: black;
}








