services:
  eureka:
    image: flaviorv/eureka-server:v2
    container_name: EUREKA-SERVER
    ports:
      - "8761:8761"
    restart: unless-stopped
    networks:
      - musichouse

  mongo:
    image: mongo:7-jammy
    container_name: MONGO-SERVER
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb-data:/data
    restart: unless-stopped
    networks:
      - musichouse

  mysql:
    image: mysql:8.0
    container_name: MYSQL-SERVER
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_products
      MYSQL_USER: user
      MYSQL_PASSWORD: 123
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - musichouse

  rabbit:
    image: rabbitmq:3.13-management
    container_name: RABBITMQ-SERVER
    ports:
      - "15672:15672"
      - "5672:5672"
    restart: unless-stopped
    networks:
      - musichouse

  MH-PRODUCTS:
    image: flaviorv/mh-products:v2.5
    build:
      context: ./musichouse_products
      dockerfile: Dockerfile
    depends_on:
      - mysql
      - rabbit
      - eureka
    deploy:
      replicas: 2
    restart: unless-stopped
    networks:
      - musichouse

  MH-SALES:
    image: flaviorv/mh-sales:v2.4
    depends_on:
      - mongo
      - eureka
      - rabbit
    deploy:
      replicas: 2
    restart: unless-stopped
    networks:
      - musichouse

  payment_service:
    image: flaviorv/payment-service:v2.1
    depends_on:
      - rabbit
      - eureka
    deploy:
      replicas: 1
    restart: unless-stopped
    networks:
      - musichouse

  MH-GATEWAY:
    image: flaviorv/mh-gateway:v2.1
    depends_on:
      - eureka
      - keycloak
    ports:
      - "9999:9999"
    restart: unless-stopped
    networks:
      - musichouse

  # mh-front:
  #   image: flaviorv/mh-front:v2.1
  #   depends_on:
  #     - MH-GATEWAY
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - musichouse


  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    command: start-dev --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
    volumes:
      - ./keycloak-data/mh-realm.json:/opt/keycloak/data/import/realm.json:ro
      - keycloak_data:/opt/keycloak/data
    ports:
      - "8089:8080"
    restart: unless-stopped
    networks:
      - musichouse

networks:
  musichouse:
    driver: bridge

volumes:
  keycloak_data:
