services:
  eureka:
    image: flaviorv/eureka-server:v2
    container_name: EUREKA-SERVER
    ports:
      - "8761:8761"
    networks:
      - musichouse
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7-jammy
    container_name: MONGO-SERVER
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb-data:/data
    networks:
      - musichouse

  mysql:
    image: mysql:8.0
    container_name: MYSQL-SERVER
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_products
      MYSQL_USER: user
      MYSQL_PASSWORD: 123
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - musichouse
    healthcheck:
      test:
        ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "user", "-p123"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbit:
    image: rabbitmq:3.13-management
    container_name: RABBITMQ-SERVER
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - musichouse
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 5

  MH-PRODUCTS:
    image: flaviorv/mh-products:v2.5
    build:
      context: ./musichouse_products
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
      rabbit:
        condition: service_healthy
      eureka:
        condition: service_started
    deploy:
      replicas: 2
    restart: on-failure
    networks:
      - musichouse

  MH-SALES:
    image: flaviorv/mh-sales:v2.4
    depends_on:
      mongo:
        condition: service_started
      eureka:
        condition: service_started
      rabbit:
        condition: service_healthy
    deploy:
      replicas: 2
    restart: on-failure
    networks:
      - musichouse

  payment_service:
    image: flaviorv/payment-service:v2.1
    depends_on:
      rabbit:
        condition: service_healthy
      eureka:
        condition: service_started
    deploy:
      replicas: 1
    restart: on-failure
    networks:
      - musichouse

  MH-GATEWAY:
    image: flaviorv/mh-gateway:v2.1
    depends_on:
      - eureka
    ports:
      - "9999:9999"
    networks:
      - musichouse

  # mh-front:
  #   image: flaviorv/mh-front:v2.1
  #   depends_on:
  #     - MH-GATEWAY
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - musichouse

networks:
  musichouse:
    driver: bridge
