spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-headers: "*"
            allowedOrigins: "*"
            allow-credentials: false
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
              - HEAD
        add-to-simple-url-handler-mapping: true
      routes:
        - id: products
          uri: lb://MH-PRODUCTS
          predicates:
            - Path=/product/**, /rating, /rating/**
        - id: sales
          uri: lb://MH-SALES
          predicates:
            - Path=/sale/**, /deliveries, /deliveries/**
  application:
    name: MH-GATEWAY
server:
  port: 9999
eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
  client:
    service-url:
      defaultZone: http://EUREKA-SERVER:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
    enabled: true
management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"


