spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://localhost:8089/realms/mh"
          jwk-set-uri: "http://keycloak:8080/realms/mh/protocol/openid-connect/certs"
  cloud:
    gateway:
      routes:
        - id: products
          uri: lb://MH-PRODUCTS
          predicates:
            - Path=/product/**, /rating, /rating/**
        - id: sales
          uri: lb://MH-SALES
          predicates:
            - Path=/sale/**, /deliveries, /deliveries/**
  application:
    name: MH-GATEWAY
server:
  port: 9999
eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
  client:
    service-url:
      defaultZone: http://EUREKA-SERVER:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
    enabled: true
management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"


