#add-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#add-cart-title {
  font-size: 1.5em;
}

.stock {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
}

#in-stock {
  color: rgb(15, 71, 15);
}

#not-available {
  color: darkorange;
}

.detailed-price {
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
}

#in-stock-price {
  color: rgb(12, 106, 12);
}

#not-available-price {
  color: gray;
}

.add-cart-btn {
  width: 250px;
  height: 38px;
  border: none;
}

#in-stock-btn {
  background-color: #65a992;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

#not-available-btn {
  background-color: gray;
  pointer-events: none;
  user-select: none;
}

#in-stock-btn:hover {
  background-color: rgb(23, 199, 140);
  color: aliceblue;
}
