#bm {
  background-color: darkgray;
}

.bm-menu::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: transparent;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: rgb(191, 193, 194);
  transition: color 0.2s;
  margin: 20px;
  text-align: start;
}

.bm-item:hover {
  color: rgb(255, 255, 255);
}

.bm-burger-button {
  position: sticky;
  width: 25px;
  height: 20px;
  right: 36px;
  top: 18px;
  margin-right: 40px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  font-size: 0.9em;
  opacity: 0.8;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.icon {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50px;
}
