.card {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 0px 6px 10px black;
  width: 200px;
  height: fit-content;
  text-align: center;
  background-color: rgb(78, 77, 79);
  margin: 0 3px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.15s;
  box-shadow: 0px 10px 10px black;
}

.card-image {
  width: 100%;
  height: 200px;
}

.card-title {
  color: rgb(245, 245, 245);
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin: 20px 7px;
}

#rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

#stars {
  font-size: 1.1em;
}

#rating-average {
  font-size: 0.7em;
}

#rating-count {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 0.7em;
  color: whitesmoke;
}

.card-price {
  color: darkseagreen;
  font-size: 1em;
}
