.card {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 0px 6px 10px black;
  width: 200px;
  height: 300px;
  padding: 20px;
  text-align: center;
  align-content: center;
  margin: 0px 5px;
  background-color: rgb(78, 77, 79);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.15s;
  box-shadow: 0px 10px 10px black;
}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 1px solid rgb(0, 0, 0);
}
.card-title {
  color: rgb(245, 245, 245);
}
.card-price {
  color: darkseagreen;
}
