.card {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 0px 6px 10px black;
  width: 330px;
  height: fit-content;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(78, 77, 79);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.15s;
  box-shadow: 0px 10px 10px black;
}

.card-image {
  width: 100%;
  height: 350px;
}
.card-title {
  color: rgb(245, 245, 245);
  font-size: 1.2em;
}

#rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rating-average {
  font-size: smaller;
}

#rating-count {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: whitesmoke;
}

.card-price {
  color: darkseagreen;
  font-size: 1.2em;
}
