.pagination-controls button {
  background: none;
  border: none;
  color: rgb(251, 254, 255);
  font-size: 1.2rem;
  cursor: pointer;
}

.pagination-controls button:disabled {
  color: gray;
  cursor: default;
}

.pagination-controls button:enabled:hover {
  color: rgb(224, 224, 224);
}

.pagination-controls {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.grouped-products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  overflow-x: auto;
  white-space: nowrap;
  height: fit-content;
  padding-bottom: 10px;
  margin: 20px 0;
  overflow-y: hidden;
}

.category-title {
  text-align: center;
  color: rgb(73, 73, 73);
}

.category-title:hover {
  cursor: default;
}
