#quantity-selection {
  display: flex;
  gap: 10px;
}

#label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: black;
}

#select {
  background-color: black;
  color: whitesmoke;
  width: 50px;
  height: 25px;
}

#select:hover {
  cursor: pointer;
}
