#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(31, 29, 29);
  align-items: center;
  height: 60px;
}

#logo {
  flex: 1 1 0;
}

#logo a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: cursive;
  text-decoration: none;
  color: white;
  margin-left: 40px;
  margin-right: 0px;
}

#logo a:hover {
  opacity: 0.6;
  img {
    opacity: 0.6;
  }
}

#logo a img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

#logo a h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.3em;
  color: purple;
  text-shadow:
    -1px -1px 0 rgb(198, 198, 183),
    1px -1px 0 rgb(198, 198, 183),
    -1px 1px 0 rgb(198, 198, 183);
}

#menu-wrapper {
  display: flex;
  gap: 18px;
  justify-content: right;
  flex: 1 1 0;
  align-items: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

#search-btn {
  height: 28px;
  font-size: 1.2em;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 0px 12px;
  background-color: rgb(220, 220, 220);
}

#search-btn:hover {
  background-color: rgba(233, 233, 233, 0.895);
  cursor: pointer;
}

#search-field {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 28px;
  width: 270px;
  background-color: whitesmoke;
  padding-left: 10px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#search-field:focus {
  outline: none;
}

.login-btn {
  height: 70%;
  width: 0px;
}
