#navbar {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
  width: 100%;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(31, 29, 29);
  align-items: center;
  height: 65px;
}

#logo {
  flex: 1 1 0;
}

#logo a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: cursive;
  text-decoration: none;
  color: white;
  margin-left: 40px;
  margin-right: 0px;
}

#logo a:hover {
  color: lightgray;
  img {
    opacity: 0.6;
  }
}

#logo a img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

#logo a h1 {
  font-family: monospace;
  font-size: 1.6em;
}

#burguer-menu-wrapper {
  display: flex;

  justify-content: right;
  flex: 1 1 0;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

#search-btn {
  height: 35px;
  border-radius: 0px;
  margin: 0;
  padding: 0px 12px;
  background-color: rgb(220, 220, 220);
}

#search-btn:hover {
  background-color: rgba(233, 233, 233, 0.895);
}

#search-field {
  margin: 0;
  padding: 0;
  border: none;
  height: 35px;
  width: 300px;
  background-color: whitesmoke;
  padding-left: 10px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#search-field:focus {
  outline: none;
}
