#specifications-table {
  width: 100%;
  margin-top: 50px;
}

#specifications-table thead th {
  font-size: 1.3em;
  font-weight: bolder;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
  background-color: rgb(225, 225, 225);
}

#specifications-table tbody th {
  width: 35%;
  padding: 20px 0;
  text-align: center;
  font-size: 1.1em;
  background-color: rgb(210, 210, 210);
}

#specifications-table td {
  text-align: center;
  font-size: 1em;
  background-color: rgb(210, 210, 210);
}
