#detailed {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: rgb(163, 160, 160);
  gap: 30px;
  justify-self: center;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  padding: 20px 50px;
}

#detailed-img {
  width: 500px;
  height: 540px;
}

#product-info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#add-cart-section {
  height: fit-content;
  padding: 20px;
}

#specifications {
  width: 100%;
}
