#detailed {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: fit-content;
  border-radius: 50px;
  background-color: lightgray;
  gap: 30px;
  justify-self: center;
  margin-top: 50px;
  align-items: center;
  padding: 50px 100px;
}

#detailed-img {
  width: 400px;
  height: 440px;
  border-radius: 20px;
}

#product-info {
  display: flex;
  gap: 160px;
  width: 100%;
  justify-content: space-around;
}

#add-cart-section {
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}

#specifications {
  width: 100%;
}
