#products-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: beige;
  height: fit-content;
  width: 100%;
  padding-bottom: 50px;
}

.price {
  color: rgb(121, 225, 121);
  font-weight: bolder;
}

.title {
  color: rgb(63, 62, 62);
}

#filtered-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  background-color: rgb(188, 188, 188);
  max-width: 70%;
}

.product-card {
  margin: 20px auto;
}
