.sc-item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: lightslategray;
}

#sc-title {
  display: flex;
  justify-content: center;
}

#sc-grand-total {
  margin: 10px;
}
